nav {
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 10;
  .logo {
    position: absolute;
    left: 2rem;
    img {
      max-height: 5rem;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    li {
      padding: 0.5rem 1rem;
      font-size: 2rem;
      cursor: pointer;
      .pages {
        color: black;
        text-decoration: none;
      }
      .pages:hover {
        color: white;
      }
    }
    li:hover {
      background-color: black;
      .pages {
        color: white;
      }
    }
  }
}
